.derecha {
  display: flex;
  text-align: center;

  @include tablet {
    align-items: center;
  }

  img {
    width: 2rem;
    cursor: pointer;

    filter: invert(100%);
    display: flex;
    margin-left: 3rem;
    margin-top: 1rem;
    @include tablet {
      margin-left: 2rem;
      margin-top: 0rem;
    }
    .dark-mode-boton {
      cursor: pointer;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.barra {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion {
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s linear, opacity 0.5s linear, height .5s linear;
  // .dark-mode-boton {
  //   visibility: visible;
  //   opacity: 1;
  // }

  align-items: center;
  height: 0;
  @include tablet {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  a {
    color: $blanco;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;

    @include tablet {
      margin-right: 2rem;
      font-size: 1.8rem;
    }
    &:last-of-type {
      margin-right: 0;
      // margin-left: 2rem;
    }
  }
}

// MANU HAMBURGUESA

.mobile-menu {
  @include tablet {
    display: none;
  }
  width: 5rem;
}

.mostrar {
  visibility: visible;
  opacity: 1;
  height: auto;
}
